@charset "utf-8";

/* main frame */
.div_main {
	background: none;
}
.div_content {
	margin-bottom: 10px;
}
.div_content label {
	color: #4ed8de;
	text-shadow: 0 0 12px #4ed8de;
}

/* content frame */
.div_item {
	flex-direction: column;
	width: 90%;
	padding: .6rem;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 1px solid rgba(71,89,101,.3);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	background-color: #212429;
}

/* content - item coin column */
.div_item_title {
	color: #e66799;	/* #c3c5cb; */
	font-weight: 600;
	font-size: .8rem;
}
.div_item_title img {
	width: 1rem!important;
}
.div_item_content {
	margin-top: .4rem;
}
.div_item_content span:last-child {
	float: right;
	color: #4ed8de;
	text-shadow: 0 0 12px #4ed8de;
}