@charset "utf-8";

@font-face {
	font-family: Ubuntu;
	src: url(../font/Ubuntu-M.785d8031.ttf);
	font-weight: 400;
	font-style: normal
}
body {
	--color_b: #fff;				/* 纯白-重要信息 */
	--color_ba: #DEDBD6;			/* 暗白-次要信息 */
	--color_baa: #aaa;				/* 暗暗白-不重要信息 */
	--color_h: #333;				/* 浅灰-模糊化 */
	--color_j: Gold;				/* 金色-强调 */
	--color_r: Red;					/* 红色-必填 */
	--back_l1: rgba(242,239,255,.1);/* 浅紫-#F2EFFF */
	--back_l2: rgba(242,239,255,.2);
	--back_l3: rgba(242,239,255,.3);
	--back_h: rgba(33,36,41);		/* 暗黑-#212429 */
	--back_h5: rgba(33,36,41,.5);
	--back_h6: rgba(33,36,41,.6);
	--back_h9: rgba(33,36,41,.9);
	--back_z: #AB98FF;				/* 紫-标签 */
	--back_j2: rgba(255,215,0,.2);	/* 金色-Gold-强调 */
	--back_m: #2c313b;
	color: var(--color_b);
	background-color: var(--back_m)!important;
	background-image: radial-gradient(50% 50% at 50% 50%,rgba(255,0,0,.1) 10%,hsla(0,0%,100%,0) 100%);
	max-width: 450px;
	margin: 0 auto;
	font-size: 12px;
	font-family: Ubuntu,Roboto,sans-serif;
}
body > div:first-child {
	background-color: var(--back_h5);
	min-height: 100vh;
}
input, button, textarea {
	-webkit-appearance: none;
	border-radius: 0;
}
input[type=text], input[type=password], textarea {
	resize: none;
	border: 0;
	color: var(--color_b);
    font: inherit;
    background-color: var(--back_l3);
    caret-color: var(--color_b);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: none;
}
input[type=text], input[type=password] {
	height: 36px;
	padding: 0 10px;
	width: calc(100% - 20px);
	font-size: 16px;
}
textarea {
	height: 200px;
	padding: 5px;
	width: calc(100% - 10px);
	font-size: 14px;
}
div > img {
	display: block;
}
.color_b {color: var(--color_b);}
.color_ba {color: var(--color_ba);}
.color_baa {color: var(--color_baa);}
.color_h {color: var(--color_h);}
.color_j {color: var(--color_j);}
.color_r {color: var(--color_r);}

/* 通用 */
.button_full {
	margin: 20px auto;
	margin-left: 15px;
	width: calc(100% - 30px);
	color: #fff;
	background: var(--back_j2);
	border: 0;
	border-radius: 20px;
	height: 36px;
	font: inherit;
	font-size: 20px;
	box-shadow: 0px 0px 5px var(--back_j2);
}
.div_banner img {
	width: 100%;
}
.div_title {
	font-size: 24px;
	text-align: center;
	line-height: 50px;
}

/* 主体页框架 */
.div_main {
	padding: 35px 5px 60px 5px;
}
.div_tabs {
	display: flex;
	position: fixed;
	max-width: 450px;
	width: 100%;
	background-color: var(--back_h);
}
.div_tabs > span {
	padding: 0 10px;
    color: var(--color_ba);
    height: 30px;
    display: flex;
    align-items: center;
}
.div_tabs > span.selected {
	color: var(--color_j);
	border-bottom: 1px solid var(--back_j2);
}
.div_menu {
	display: flex;
	position: fixed;
	bottom: 0;
	max-width: 450px;
	width: 100%;
	border-top: 1px solid var(--back_j2);
	border-bottom: 1px solid var(--back_j2);
	padding-top: 2px;
	background-color: var(--back_h);
}
.div_menu > span {
	margin: 0 auto;
    text-align: center;
    font-size: 16px;
}
.div_menu > span a {
	text-decoration: none;
	color: var(--color_ba);
	line-height: 1.5;
}
.div_menu > span a.selected {
	color: var(--color_j);
}
.div_menu > span span {
	transform: scale(0.83333333);
	display: block;
}

/* 详情页框架 */
.div_header {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	line-height: 30px;
}
.div_header div {
	padding: 0 15px;
}
.div_content {
	padding: 0px 15px;
}

/* 表单 */
.div_form > div {
	padding: 5px 15px 10px 15px;
	border-bottom: 1px solid var(--back_j2);
}
.div_form > div:hover {
	background-color: var(--back_h6);
}
.div_form > div > div:first-child {
	line-height: 36px;
	font-size: 16px;
	color: var(--color_baa);
}
.div_form > div > div:first-child span {
	color: var(--color_r);
	font-size: 12px;
}