@charset "utf-8";

/* 基本信息 */
.div_baseinfo {
	display: flex;
	justify-content: space-between;
}
.div_baseinfo .info {
	padding: 3px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.div_baseinfo .info .name {
	font-size: 24px;
	font-weight: 600;
}
.div_baseinfo img {
	width: 60px;
	border-radius: 30px;
}

/* 其它信息 */
.div_otherinfo {
	margin-top: 20px; 
	border-top: 1px solid var(--back_j2);
	line-height: 1.5;
}
.div_otherinfo .title {
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
}
.div_otherinfo .tags span {
	padding: 5px 10px;
	margin-right: 2px;
	line-height: 30px;
	border-radius: 12px;
    white-space: nowrap;
}
.div_otherinfo .bg_base span {
	background-color: var(--back_j2);
}
.div_otherinfo .bg_selection span {
	background-color: var(--back_l2);
}
.div_otherinfo .bg_selection span.match {
	color: var(--color_b);
	background-color: var(--back_z);
}