@charset "utf-8";

/* 内容 */
.div_item {
	display: flex;
	padding: .4rem;
	margin-bottom: 5px;
	background-color: var(--back_h);
	border-radius: 20px;
}
.div_item .header {
	height: 60px; 
	margin-right: .4rem;
}
.div_item .header img {
	height: 100%; 
	border-radius: 30px;
}
.div_item .info {
	display: flex; 
	flex-direction: column; 
	justify-content: space-around;
}
.div_item .info div {
	color: var(--color_ba);
}
.div_item .info .name {
	font-size: 14px;
	font-weight: 600;
	color: var(--color_b);
}
.div_item .info span {
	background-color: var(--back_j2);
	padding: 2px 5px;
	margin-right: 1px;
	line-height: 22px;
	border-radius: 11px;
}